/* debug */
.debug{
  background-color: rosybrown;
}

/* comuni */
/* font */
body{
  font-family: 'Roboto', sans-serif;
}

.fw-400{
  font-weight: 400;
}

.fw-500{
  font-weight: 500;
}

.fw-700{
  font-weight: 700;
} 

.pv-fc-white{
  color: white;
}

.pv-fc-grey{
  color: lightgrey;
}

.pv-fc-dark{
  color: #031b4e;
}

.pv-fc-blue{
  color: rgb(5, 5, 252);
}

.pv-fs-10{
font-size: 10px;
}
/* bg-color */
.bg-grey{
  background-color: #f3f5f9;
}

.bg-white{
  background-color: white;
}

.pv-wrapper-60{
  width: 60%;
  margin: 0 auto;
}
/* padding-margin */
.pv-padding-50{
  padding-top: 50px;
}

.pv-padding-top-15{
  padding-top: 15px;
} 

.pv-padding-top-30{
  padding: 30px;
}

.pv-padding-bottom-30{
  padding-top: 30px;
}


.pv-margin-top-50{
  margin-top: 50px;
}

.pv-margin-top-25{
  margin-top: 25px;
}

/* header */
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 999;
  color: black;
}

header img{
  width: 162px;
}

header .nav-center li,
header .nav-right li{
  list-style: none;
  display: inline;
}

header .nav-center li a,
header .nav-right li a{
  text-decoration: none;
  color: #031b4e;
  font-size: 14px;
  line-height: 65px;
  padding: 0 10px;
}

header .nav-right button{
  color: rgb(5, 5, 252);
  border: 1px solid rgb(5, 5, 252);
}

header .pv-hamb{
  color: rgb(5, 5, 252);
  line-height: 65px;
  font-size: 18px;
}


/* jumbotron */
#jumbotron{
  min-height: 490px;
  margin-top: 65px;
  background-image: url(img/bg-banner-home.jpg);
  background-size: cover;
}

#jumbotron h1{
  font-size: 35px;
}

#jumbotron .pv-jumbo-box-left p{
  font-size: 20px;
}

@media all and (min-width:1199px){
  #jumbotron h1{
    font-size: 55px;
    padding-right: 15%;
  }
  #jumbotron .pv-jumbo-box-left p{
    padding-right: 12%;
  }
}

.pv-jumbo{
  margin: 65px auto;
}

.pv-jumbo-box-left{
  padding-left: 0;
}

.pv-jumbo-box-right{
  border-radius: 5px;
}

.pv-jumbo-box-right h4{
  font-size: 20px;
}

.pv-jumbo-box-right ::placeholder{
  color: grey;
  font-weight: 500;
}

.pv-btn{
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 12px;
}

.pv-account{
  margin-bottom: 10px;
  background-color: #12a0fe;
}

.pv-btn.pv-google span{
  color: rgb(99, 99, 99);
}

.pv-btn.pv-google{
  margin-bottom: 20px;
  box-shadow: 1px 1px #888888;
}

.pv-jumbo-box-right img{
  width: 18px;
  margin-left: 0;
}

.pv-jumbo-box-right a{
  text-decoration: underline;
}

/* innovative */
#innovative{
  min-height: 220px;
}

.pv-innovative{
  padding-top: 15px;
}

/* deploy */
#deploy{
  min-height: 695px;
}

/* designed */
#designed{
  min-height: 780px;
}

/* features */
#features{
  min-height: 440px;
}

/* service */
#service{
  min-height: 420px;
  background-color: rgb(0, 0, 122);
  background-image: linear-gradient(rgb(30, 5, 175), blue);
}

#service li{
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid white;
}

#service li.no-bottom{
  border-bottom: none;
}

@media all and (max-width:1199px){
  #speciale{
    margin-top: 35px;
  }
}

/* Footer */
.footer-top{
  min-height: 250px;
  background-color: #034b93;
}

.footer-bottom{
  min-height: 525px;
  background-color: #052f55;
}

